@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tema Escuro Global */
body {
  @apply bg-slate-950 text-slate-100 font-sans antialiased;
}

/* Utilitários para Animação 3D do Cartão */
.perspective-1000 {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}